# Python bytecode
__pycache__/
*.py[cod]

# Environment files
.env
*.env

# Django static/media files
/media/*
!/media/post_images/
/media/post_images/*

# Logs
*.log

# VS Code and OS files
.vscode/
.DS_Store

# Mac/Linux swap files
*.swp
# Exclude virtual environment
env/