
{% extends "home/base.html" %}
{% load static %}
{% block title %}Belgium Leagues{% endblock title %}


<div>
<!--
<div class="socials1">
<p>Follow us on <img src="{% static 'images/facebookicon.PNG' %}" alt ="facebook icon" height="45px" width="50px">
 <img src="{% static 'images/xicon.PNG' %}" alt ="X icon" height="50px" width="50px">
 </p>
 <p id="time"></p>

-->
</div>
<img src="{% static 'images/barclayslogo.JPEG' %}" alt ="Premiership logo" height="50px" width="50px">
{% block content %}

<p>This page is for the analysis of the English  Belgian Pto League</p>
<h2>Belgian pro League Complete table for 2024/25 season</h2>
<div class="table-responsive">
<table id="belgianProleagueDeveScoresTable">
<thead class="season-header">
<th>#</th>
<th>Teams</th>
<th>Matches Played</th>
<th>Matches Won</th>
<th>Matches Drawn</th>
<th>Matches Lost</th>
<th>Goals For</th>
<th>Goals Against</th>
<th>Goals Difference</th>
<th>Points</th>
</thead>
<tbody></tbody>

</table>
 <h2>My Chart</h2>
<h2>Belgian Challanger Pro Complete table for 2024/25 season</h2>
<div class="table-responsive">
<table id="belgianChallengerProScoresTable">
<thead class="season-header">
<th>#</th>
<th>Teams</th>
<th>Matches Played</th>
<th>Matches Won</th>
<th>Matches Drawn</th>
<th>Matches Lost</th>
<th>Goals For</th>
<th>Goals Against</th>
<th>Goals Difference</th>
<th>Points</th>
</thead>
<tbody></tbody>

</table>
 <table>
  <tr><th>S/no</th><th>Team</th><th>Points</th><th>Power</th><th>Goals Difference</th></tr>
  {% for team in belgian_pro_league_teams %}
  <tr><td>{{ forloop.counter}}</td><td>{{ team.name }}</td><td>{{ team.points }}</td><td>{{ team.power }}</td>
  <td>{{ team.goals_difference }}</td></tr>
  {% endfor %}
</table>

<table>
  <tr><th>S/no</th><th>Team</th><th>Points</th><th>Power</th><th>Goals Difference</th></tr>
  {% for team in belgian_challanger_pro_teams %}
  <tr><td>{{ forloop.counter}}</td><td>{{ team.name }}</td><td>{{ team.points }}</td><td>{{ team.power }}</td>
  <td>{{ team.goals_difference }}</td></tr>
  {% endfor %}
</table>


</div>
<div class="stats-container">
<div class="stats">
  <h2>Pro League</h2>
    <p>No team has Maximum points in 3 games played</p>
  
  <p>The Following teams have ganered 7 points in 3 matches</p>
  <ol>
    <li>Standard</li>
    <li>STVV</li>
    <li>Mechelen</li>
    <li>Union Saint Gilloise</li>
    
  </ol>
  <p>While Following teams have ganered 6 points in 3 matches</p>
  <ol>
    <li>Anderlecht</li>
    <li>Club Brugge</li>
  
  </ol>
  <p>The Following teams have ganered 5 points in 3 matches</p>
  <ol>
    <li>Antwerp</li>
    
  </ol>
  <p>While Following teams have ganered 3 points from 3 matches</p>
  <ol>
    <li>La Louviere</li>
    <li>Westerlo</li>
    <li>Gent</li>
    
  </ol>
  <p></p>
  
  <p>While Following teams have ganered 2 points from 3 matches</p>
  <ol>
    <li>Dender</li>
    <li>Charleroi</li>
    
  </ol>
  <p></p>
  <p>While Following teams have ganered   1 point from 3 matches</p>
  <ol>
    <li>Gent</li>
    <li>Zulte Waregem</li>
    <li>Cercle Brugge</li>
    <li>Oud Hervelee Leuven</li>
  </ol>
  <p></p>
</div>
<div class="stats">
  <h2>Challanger Pro</h2>
  <p>The following teams have grabbed the maximum points in the first games</p>
  <ol>
    <li>Eupen</li>
    <li>Kotrijk</li>
    <li>Jong Gent</li>
    <li>Beerschot</li>
    <li>Beveren</li>
    <li>Patro Eisden</li>
  </ol>
  <p>The Following teams have Collected 1 points in First matches</p>
  <ol>
    <li>Lommel</li>
    <li>Club NXT</li>
    <li>Francs Borains</li>
    <li>Daring Brussels</li>
    
  </ol>
  <p>While Following teams have not gotten any points in the First matches</p>
  <ol>
    <li>Lierse</li>
    <li>RFC Liege</li>
    <li>Charleroi</li>
    <li>Lokeren Temse</li>
    <li>Seraing</li>
    <li>RSCA Futures</li>
  </ol>

</div>
</div>














    {% endblock %}

    <div class="footer">


 
</body>