
{% extends "home/base.html" %}
{% load static %}
{% block title %}English Leagues{% endblock %}




<div>
<!--
<div class="socials1">
<p>Follow us on <img src="{% static 'images/facebookicon.PNG' %}" alt ="facebook icon" height="45px" width="50px">
 <img src="{% static 'images/xicon.PNG' %}" alt ="X icon" height="50px" width="50px">
 </p>
 <p id="time"></p>

-->
</div>
<img src="{% static '/leagues/images/barclayslogo.JPEG' %}" alt ="Premiership logo" height="50px" width="50px">
{% block content %}
<div class="premiership">
<p>This page is for the analysis of the English  Premier League (EPL)</p>
<h2>English Premiership Complete table for 2024/25 season</h2>
<div class="table-responsive">
<table id="leagueTable">
<thead class="season-header">
<th>#</th>
<th>Teams</th>
<th>Matches Played</th>
<th>Matches Won</th>
<th>Matches Drawn</th>
<th>Matches Lost</th>
<th>Goals For</th>
<th>Goals Against</th>
<th>Goals Difference</th>
<th>Points</th>
</thead>
<tbody></tbody>

</table>
</div>
<div class="Championship">
<p>This page is for the analysis of the English  Championship (EFL)</p>
<h2>English Championship Complete table for 2024/25 season</h2>
<div class="table-responsive">
<table id="englishChampionshipScoresTable">
<thead class="season-header">
<th>#</th>
<th>Teams</th>
<th>Matches Played</th>
<th>Matches Won</th>
<th>Matches Drawn</th>
<th>Matches Lost</th>
<th>Goals For</th>
<th>Goals Against</th>
<th>Goals Difference</th>
<th>Points</th>
</thead>
<tbody></tbody>

</table>
</div>

<div class="LeagueOne">
<p>This page is for the analysis of the English  League One</p>
<h2>English League One Complete table for 2024/25 season</h2>
<div class="table-responsive">
<table id="englishLeagueOneScoresTable">
<thead class="season-header">
<th>#</th>
<th>Teams</th>
<th>Matches Played</th>
<th>Matches Won</th>
<th>Matches Drawn</th>
<th>Matches Lost</th>
<th>Goals For</th>
<th>Goals Against</th>
<th>Goals Difference</th>
<th>Points</th>
</thead>
<tbody></tbody>

</table>
</div>


<h2>English League Two Complete table for 2024/25 season</h2>
<div class="table-responsive">
<table id="englishLeagueTwoScoresTable">
<thead class="season-header">
<th>#</th>
<th>Teams</th>
<th>Matches Played</th>
<th>Matches Won</th>
<th>Matches Drawn</th>
<th>Matches Lost</th>
<th>Goals For</th>
<th>Goals Against</th>
<th>Goals Difference</th>
<th>Points</th>
</thead>
<tbody></tbody>


</table>
<h2>Premiership</h2>
<table>
  <tr><th>S/no</th><th>Team</th><th>Points</th><th>Power</th><th>Goals Difference</th></tr>
  {% for team in premiership %}
  <tr><td>{{ forloop.counter}}</td><td>{{ team.name }}</td><td>{{ team.points }}</td><td>{{ team.power }}</td>
  <td>{{ team.goals_difference }}</td></tr>
  {% endfor %}
</table>

</table>
<h2>Championship</h2>
<table>
  <tr><th>S/no</th><th>Team</th><th>Points</th><th>Power</th><th>Goals Difference</th></tr>
  {% for team in championship_teams %}
  <tr><td>{{ forloop.counter}}</td><td>{{ team.name }}</td><td>{{ team.points }}</td><td>{{ team.power }}</td>
 <td>{{ team.goals_difference }}</td> </tr>
  {% endfor %}
</table>

<h2>League One</h2>
<table>
  <tr><th>S/no</th><th>Team</th><th>Points</th><th>Power</th><th>Goals Difference</th></tr>
  {% for team in league_one_teams %}
  <tr><td>{{ forloop.counter}}</td><td>{{ team.name }}</td><td>{{ team.points }}</td><td>{{ team.power}}</td>
  <td>{{ team.goals_difference }}</td></tr>
  {% endfor %}
</table>

<h2>League Two</h2>
<table>
  <tr><th>S/no</th><th>Team</th><th>Points</th><th>Power</th><th>Goals Difference</th></tr>
  {% for team in league_two_teams %}
  <tr><td>{{ forloop.counter}}</td><td>{{ team.name }}</td><td>{{ team.points }}</td><td>{{ team.power }}</td>
  <td>{{ team.goals_against }}</td></tr>
  {% endfor %}
</table>
</div>


<div class="row">
    <h2>Championship Week 1 Scores</h2>
<p>Birmingham 1 - 1 Ipswich</p>
<p>Southampton 2 - 1 Wrexham</p>
<p>Coventry 0 - 0 Hull</p>
<p>Charlton 1 - 0 Watford</p>
<p>West Brom 1 - 0 Blackburn</p>
    </div>
    <div class="row">
<p>Norwich 1 -2 Millwall</p>
<p>Oxford 0 - 1 Portsmouth</p>
<p>Stoke 3 - 1 Derby County</p>
<p>Middlesbrough 1 - 0 Swansea</p>
<p>QPR 1 - 1 Preston</p>
<p>Sheffield United 1 - 4 Bristol City</p>
    </div>


<div class="row">

    <h2>League One Week One Scores</h2>
    <p>Luton 1 - 0 Wimbledon</p>
<p>Cardiff 2 - 1 Peterborough</p>
<p>Blackpool 2 - 3 Stevenage</p>
<p>Bradford 2 - 1 Wycombe</p>
<p>Burton 2 - 1 Mansfield</p>
</div>
<div class="row">
<p>Doncaster 1 - 0 Exeter</p>
<p>Huddersfield 3 - 0 Leyton Orient</p>
<p>Lincoln 2 - 0 Reading</p>
<p>Plymouth 1 - 3 Barnsley</p>
<p>Rotherham 2 - 1 Port Vale</p>
</div>
<div class="row">
<p>Wigan 3 - 1 Northampton</p>
<p>Stockport 2 - 0 Bolton</p>
</div>
</div>

<div class="row">
  
<h2>League 2 Week 1 Scores</h2>
<p>Accrington Stanley 1 - 1 Gillingham</p>
<p>Barnet 0 - 2 Fleetwood</p>
<p>Bristol Rovers 0 - 1 Harrogate</p>
<p>Cambridge 1 - 0 Cheltenham</p>
<p>Chesterfield 1 - 0 Barrow</p>
  </div>
  <div class="row">
<p>Colchester 1 - 1 Tranmere</p>
<p>Grimsby 3 - 0 Crawley</p>
<p>MK Dons 0 - 0 Oldham</p>
<p>Salford 1 - 3 Crewe </p>
<p>Shrewsbury 0 - 0 Bromley</p>
  </div>
  <div class="row">
<p>walsall 2- 1 Swindon </p>
<p>Newport 1 - 1 Notts County</p>
  </div>
</div>
  












    {% endblock %}

    <div class="footer">


 
</body>