
{% extends "home/base.html" %}
{% load static %}
{% block title %}English Leagues{% endblock %}




<div>
<!--
<div class="socials1">
<p>Follow us on <img src="{% static 'images/facebookicon.PNG' %}" alt ="facebook icon" height="45px" width="50px">
 <img src="{% static 'images/xicon.PNG' %}" alt ="X icon" height="50px" width="50px">
 </p>
 <p id="time"></p>

-->
</div>
<img src="{% static '/leagues/images/barclayslogo.JPEG' %}" alt ="Premiership logo" height="50px" width="50px">
{% block content %}
<div class="premiership">
<p>This page is for the analysis of the English  Premier League (EPL)</p>
<h2>English Premiership Complete table for 2024/25 season</h2>
<div class="table-responsive">
<table id="leagueTable">
<thead class="season-header">
<th>#</th>
<th>Teams</th>
<th>Matches Played</th>
<th>Matches Won</th>
<th>Matches Drawn</th>
<th>Matches Lost</th>
<th>Goals For</th>
<th>Goals Against</th>
<th>Goals Difference</th>
<th>Points</th>
</thead>
<tbody></tbody>

</table>
</div>
<div class="Championship">
<p>This page is for the analysis of the English  Championship (EFL)</p>
<h2>English Championship Complete table for 2024/25 season</h2>
<div class="table-responsive">
<table id="englishChampionshipScoresTable">
<thead class="season-header">
<th>#</th>
<th>Teams</th>
<th>Matches Played</th>
<th>Matches Won</th>
<th>Matches Drawn</th>
<th>Matches Lost</th>
<th>Goals For</th>
<th>Goals Against</th>
<th>Goals Difference</th>
<th>Points</th>
</thead>
<tbody></tbody>

</table>
</div>

<div class="LeagueOne">
<p>This page is for the analysis of the English  League One</p>
<h2>English League One Complete table for 2024/25 season</h2>
<div class="table-responsive">
<table id="englishLeagueOneScoresTable">
<thead class="season-header">
<th>#</th>
<th>Teams</th>
<th>Matches Played</th>
<th>Matches Won</th>
<th>Matches Drawn</th>
<th>Matches Lost</th>
<th>Goals For</th>
<th>Goals Against</th>
<th>Goals Difference</th>
<th>Points</th>
</thead>
<tbody></tbody>

</table>
</div>


<h2>English League Two Complete table for 2024/25 season</h2>
<div class="table-responsive">
<table id="englishLeagueTwoScoresTable">
<thead class="season-header">
<th>#</th>
<th>Teams</th>
<th>Matches Played</th>
<th>Matches Won</th>
<th>Matches Drawn</th>
<th>Matches Lost</th>
<th>Goals For</th>
<th>Goals Against</th>
<th>Goals Difference</th>
<th>Points</th>
</thead>
<tbody></tbody>


</table>
<h2>Premiership</h2>
<table>
  <tr><th>S/no</th><th>Team</th><th>Points</th><th>Power</th><th>Goals Difference</th></tr>
  {% for team in premiership %}
  <tr><td>{{ forloop.counter}}</td><td>{{ team.name }}</td><td>{{ team.points }}</td><td>{{ team.power }}</td>
  <td>{{ team.goals_difference }}</td></tr>
  {% endfor %}
</table>

</table>
<h2>Championship</h2>
<table>
  <tr><th>S/no</th><th>Team</th><th>Points</th><th>Power</th><th>Goals Difference</th></tr>
  {% for team in championship_teams %}
  <tr><td>{{ forloop.counter}}</td><td>{{ team.name }}</td><td>{{ team.points }}</td><td>{{ team.power }}</td>
 <td>{{ team.goals_difference }}</td> </tr>
  {% endfor %}
</table>

<h2>League One</h2>
<table>
  <tr><th>S/no</th><th>Team</th><th>Points</th><th>Power</th><th>Goals Difference</th></tr>
  {% for team in league_one_teams %}
  <tr><td>{{ forloop.counter}}</td><td>{{ team.name }}</td><td>{{ team.points }}</td><td>{{ team.power}}</td>
  <td>{{ team.goals_difference }}</td></tr>
  {% endfor %}
</table>

<h2>League Two</h2>
<table>
  <tr><th>S/no</th><th>Team</th><th>Points</th><th>Power</th><th>Goals Difference</th></tr>
  {% for team in league_two_teams %}
  <tr><td>{{ forloop.counter}}</td><td>{{ team.name }}</td><td>{{ team.points }}</td><td>{{ team.power }}</td>
  <td>{{ team.goals_against }}</td></tr>
  {% endfor %}
</table>
</div>

<!--
<div class="row">
    <h2>Championship Week 1 Scores</h2>
<p>Birmingham 1 - 1 Ipswich</p>
<p>Southampton 2 - 1 Wrexham</p>
<p>Coventry 0 - 0 Hull</p>
<p>Charlton 1 - 0 Watford</p>
<p>West Brom 1 - 0 Blackburn</p>
    </div>
    <div class="row">
<p>Norwich 1 -2 Millwall</p>
<p>Oxford 0 - 1 Portsmouth</p>
<p>Stoke 3 - 1 Derby County</p>
<p>Middlesbrough 1 - 0 Swansea</p>
<p>QPR 1 - 1 Preston</p>
<p>Sheffield United 1 - 4 Bristol City</p>
    </div>


<div class="row">

    <h2>League One Week One Scores</h2>
    <p>Luton 1 - 0 Wimbledon</p>
<p>Cardiff 2 - 1 Peterborough</p>
<p>Blackpool 2 - 3 Stevenage</p>
<p>Bradford 2 - 1 Wycombe</p>
<p>Burton 2 - 1 Mansfield</p>
</div>
<div class="row">
<p>Doncaster 1 - 0 Exeter</p>
<p>Huddersfield 3 - 0 Leyton Orient</p>
<p>Lincoln 2 - 0 Reading</p>
<p>Plymouth 1 - 3 Barnsley</p>
<p>Rotherham 2 - 1 Port Vale</p>
</div>
<div class="row">
<p>Wigan 3 - 1 Northampton</p>
<p>Stockport 2 - 0 Bolton</p>
</div>
<div class="row">
    <h2>League 1 Week2</h2>
<p>Peterborough 0 - 2 Luton</p>
<p>Reading 0 - 2 Huddersfield</p>
<p>Wimbledon 2 - 0 Lincoln</p>
<p>Barnsley 3 - 2 Burton</p>
<p>Bolton 2 - 0 Plymouth</p>
    </div>
    <div class="row">
<p>Exeter 4 - 1 Blackpool</p>
<p>Leyton Orient 2 - 0 Wigan</p>
<p>Mansfield 1 - 2 Doncaster</p>
<p>Northampton 0 - 0 Bradford</p>
<p>Stevenage 1 - 0 Rotherham</p>
<p>Wycombe 1 - 2 Stockport</p>
    </div>
    </div>
</div>

<div class="row">
  
<h2>League 2 Week 1 Scores</h2>
<p>Accrington Stanley 1 - 1 Gillingham</p>
<p>Barnet 0 - 2 Fleetwood</p>
<p>Bristol Rovers 0 - 1 Harrogate</p>
<p>Cambridge 1 - 0 Cheltenham</p>
<p>Chesterfield 1 - 0 Barrow</p>
  </div>
  <div class="row">
<p>Colchester 1 - 1 Tranmere</p>
<p>Grimsby 3 - 0 Crawley</p>
<p>MK Dons 0 - 0 Oldham</p>
<p>Salford 1 - 3 Crewe </p>
<p>Shrewsbury 0 - 0 Bromley</p>
  </div>
  <div class="row">
<p>Walsall 2- 1 Swindon </p>
<p>Newport 1 - 1 Notts County</p>
  </div>
  <div class="scores">
  <div class="row">
    <h2>League 2 Week 2</h2>
<p>Notts County 1 - 2 Salford</p>
<p>Tranmere 4 - 0 Shrewsbury</p>
<p>Barrow 0 - 2 MK Dons</p>
<p>Bromley 2 - 0 Barnet</p>
<p>Cheltenham 0 - 2 Chesterfield</p>
<p>Crawley 1 - 2 Newport</p>
  </div>
  <div class="row">
<p>Crewe 2 - 0 Accrington Stanley</p>
<p>Fleetwood 2 - 1 Bristol Rovers</p>
<p>Gillingham 1 - 0 Wallsall </p>
<p>Harrogate 3 -3 Grimsby</p>
<p>Oldham 1- 1 Colchester</p>
<p>Swindon 3 - 2 Cambridge</p>
  </div>
</div>
  
  <div class="item">
    <h2> Premiership Week 1 Results</h2>
    <p>This is the latest English Premier League table, updated daily to reflect team performance, points, and positions. It helps you track which teams are in form and how the title race or relegation battle is shaping up. Check back regularly for the most accurate standings.</p>
    
    <div class="table-header">
      <span>Home</span><span>Away</span><span>Our Predictions</span>Results<span></span>

    </div>
  
<div class="table-row">
  <span>Liverpool</span>
  <span>Bournemouth</span>
  <span>1</span>
  <span>4 - 2</span>
</div>

<div class="table-row">
  <span>Tottenham</span>
  <span>Burnley</span>
  <span>1</span>
  <span>3 - 0</span>
</div>

<div class="table-row">
  <span>Aston Villa</span>
  <span>Newcastle</span>
  <span>1X</span>
  <span>0 - 0</span>
</div>

<div class="table-row">
  <span>Brighton</span>
  <span>Fulham</span>
  <span>1</span>
  <span>1 - 1</span>
</div>

<div class="table-row">
  <span>Sunderland</span>
  <span>West Ham</span>
  <span>1</span>
  <span>3 - 0</span>
</div>

<div class="table-row">
  <span>Wolves</span>
  <span>Manchester City</span>
  <span>2</span>
  <span>0 - 4</span>
</div>

<div class="table-row">
  <span>Chelsea</span>
  <span>Crystal Palace</span>
  <span>1</span>
  <span>0 - 0</span>
</div>
    

<div class="table-row">
  <span>Nottingham</span>
  <span>Brentford</span>
  <span>1</span>
  <span>3 - 1</span>
</div>

<div class="table-row">
  <span>Manchester United</span>
  <span>Arsenal</span>
  <span>2</span>
  <span>0 - 1</span>

</div>

<div class="table-row">
  <span>Leeds</span>
  <span>Everton</span>
  <span>-</span>
  <span>1 - 0</span>

</div>
</div>

  <div class="item">
    <h2> Week 1 Championship</h2>
    <div class="table-header">
      <span>Home</span><span>Away</span><span>Our Predictions</span>Results<span></span>

    </div>
  
<div class="table-row">
  <span>Birmingham</span>
  <span>Ipswich</span>
  <span>X</span>
  <span>1 - 1</span>
</div>

<div class="table-row">
  <span>Southampton</span>
  <span>Wrexham</span>
  <span>1</span>
  <span>2- 1</span>
</div>

<div class="table-row">
  <span>Coventry</span>
  <span>Hull</span>
  <span>X</span>
  <span>0 - 0</span>
</div>

<div class="table-row">
  <span>Charlton</span>
  <span>Watford</span>
  <span>2</span>
  <span>1 - 0</span>
</div>

<div class="table-row">
  <span>Oxford</span>
  <span>Portsmouth</span>
  <span>X2</span>
  <span>0 - 1</span>
</div>
    

<div class="table-row">
  <span>Stoke</span>
  <span>Derby County</span>
  <span>1</span>
  <span>3 - 1</span>
</div>

<div class="table-row">
  <span>Middlesbrough</span>
  <span>Swansea</span>
  <span>1</span>
  <span>1 - 0</span>
</div>

<div class="table-row">
  <span>QPR</span>
  <span>Preston</span>
  <span>1X</span>
  <span>1 - 0</span>
</div>
<div class="table-row">
  <span>West Brom</span>
  <span>Blackburn</span>
  <span>1</span>
  <span>1 - 0</span>
</div>

<div class="table-row">
  <span>Norwich</span>
  <span>Millwall</span>
  <span>2</span>
  <span>1 - 2</span>
</div>

<div class="table-row">
  <span>Sheffield United</span>
  <span>Bristol City</span>
  <span>1</span>
  <span>1 - 4</span>
</div>

<div class="table-row">
  <span>Leicester</span>
  <span>Sheffield Wednesday</span>
  <span>1X</span>
  <span>2 - 1</span>
</div>

<div class="table-row">
  <span>Hull</span>
  <span>Oxford</span>
  <span>1X</span>
  <span>3 - 2</span>
</div>

</div>


  <div class="item">
    <h2> Week 2 Championship</h2>
    <div class="table-header">
      <span>Home</span><span>Away</span><span>Our Predictions</span>Results<span></span>

    </div>
  
<div class="table-row">
  <span>Wrexham</span>
  <span>West Brom</span>
  <span>X2</span>
  <span>2 - 3</span>
</div>

<div class="table-row">
  <span>Derby County</span>
  <span>Coventry</span>
  <span>X</span>
  <span>3 - 5</span>
</div>

<div class="table-row">
  <span>Portsmouth</span>
  <span>Norwich</span>
  <span>X2</span>
  <span>1 - 2</span>
</div>

<div class="table-row">
  <span>Preston</span>
  <span>Leicester</span>
  <span>1X</span>
  <span>2 - 1</span>
</div>

<div class="table-row">
  <span>Swansea</span>
  <span>Sheffield United</span>
  <span>1</span>
  <span>0 - 0</span>
</div>
    

<div class="table-row">
  <span>Watford</span>
  <span>QPR</span>
  <span>1</span>
  <span>2 - 1</span>
</div>

<div class="table-row">
  <span>Blackburn</span>
  <span>Birmingham</span>
  <span>X2</span>
  <span>1 - 2</span>
</div>

<div class="table-row">
  <span>Sheffield Wednesday</span>
  <span>Stoke</span>
  <span>1X</span>
  <span>0 - 3</span>
</div>
<div class="table-row">
  <span>Millwall</span>
  <span>Middlesbrough</span>
  <span>2</span>
  <span>0 - 3</span>
</div>

<div class="table-row">
  <span>Bristol</span>
  <span>Charlton</span>
  <span>X</span>
  <span>0 - 0</span>
</div>

<div class="table-row">
  <span>Ipswich</span>
  <span>Southampton</span>
  <span>images/xicon.PNG</span>
  <span>1 - 1</span>
</div>

<div class="table-row">
  <span>Hull</span>
  <span>Oxford</span>
  <span>1X</span>
  <span>3 - 2</span>
</div>

<div class="table-row">
  <span>Hull</span>
  <span>Oxford</span>
  <span>1X</span>
  <span>3 - 2</span>
</div>

</div>
<div class="item">


    
    <h2> Week 3 League One</h2>
    <div class="table-header">
      <span>Home</span><span>Away</span><span>Our Predictions</span>Results<span></span>

    </div>
  
<div class="table-row">
  <span>Burton</span>
  <span>Port Vale</span>
  <span>X</span>
  <span>0 - 0</span>
</div>

<div class="table-row">
  <span>Exeter</span>
  <span>Mansfield</span>
  <span>1</span>
  <span>1 - 2</span>
</div>

<div class="table-row">
  <span>Leyton Orient</span>
  <span>Stockport</span>
  <span>X</span>
  <span>2 - 2</span>
</div>

<div class="table-row">
  <span>Donacaster</span>
  <span>Wycombe</span>
  <span>X</span>
  <span>1 - 1</span>
</div>

<div class="table-row">
  <span>Stevenage</span>
  <span>Northampton</span>
  <span>1</span>
  <span>2 - 0</span>
</div>
    

<div class="table-row">
  <span>Barnsley</span>
  <span>Bolton</span>
  <span>1X</span>
  <span>1 - 1</span>
</div>

<div class="table-row">
  <span>Wigan</span>
  <span>Peterborough</span>
  <span>1</span>
  <span>2 - 0</span>
</div>

<div class="table-row">
  <span>Lincoln</span>
  <span>Plymouth</span>
  <span>1X</span>
  <span>3 - 2</span>
</div>
<div class="table-row">
  <span>Reading</span>
  <span>Wimbledon</span>
  <span>X2</span>
  <span>1 - 2</span>
</div>

<div class="table-row">
  <span>Bradford</span>
  <span>Luton</span>
  <span>1</span>
  <span>2 - 1</span>
</div>

<div class="table-row">
  <span>Cardiff</span>
  <span>Rotherham</span>
  <span>1</span>
  <span>3 - 0</span>
</div>

<div class="table-row">
  <span>Blackpool</span>
  <span>Huddersfield</span>
  <span>1</span>
  <span>3 - 2</span>
</div>

</div>
  
</div>

  <h2> Week 3 Results League Two</h2>
    <div class="table-header">
      <span>Home</span><span>Away</span><span>Our Predictions</span>Results<span></span>

    </div>
  
<div class="table-row">
  <span>Chesterfield</span>
  <span>Bristol Rovers</span>
  <span>1</span>
  <span>3 - 1</span>
</div>

<div class="table-row">
  <span>Oldham</span>
  <span>Swindon</span>
  <span>2</span>
  <span>1 - 2</span>
</div>

<div class="table-row">
  <span>Barnet</span>
  <span>Wallsall</span>
  <span>2</span>
  <span>1 - 2</span>
</div>

<div class="table-row">
  <span>Shrewsbury</span>
  <span>Colchester</span>
  <span>2</span>
  <span>0 - 2</span>
</div>

<div class="table-row">
  <span>Cambridge</span>
  <span>Harrogate</span>
  <span>X2</span>
  <span>1 - 1</span>
</div>
    

<div class="table-row">
  <span>Bromley</span>
  <span>Fleetwood</span>
  <span>1</span>
  <span>2 - 2</span>
</div>

<div class="table-row">
  <span>Tranmere</span>
  <span>Gillingham</span>
  <span>X</span>
  <span>1 - 1</span>
</div>

<div class="table-row">
  <span>Barrow</span>
  <span>Notts County</span>
  <span>X</span>
  <span>2 - 1</span>
</div>
<div class="table-row">
  <span>MK Dons</span>
  <span>Cheltenham</span>
  <span>1</span>
  <span>5 - 0</span>
</div>

<div class="table-row">
  <span>Crewe Alexandra</span>
  <span>Crawley</span>
  <span>1</span>
  <span>1 - 0</span>
</div>

<div class="table-row">
  <span>Salford</span>
  <span>Accrington Stanley</span>
  <span>1</span>
  <span>2 - 1</span>
</div>

<div class="table-row">
  <span>Grimsby</span>
  <span>Newport</span>
  <span>1</span>
  <span>2 - 1</span>
</div>
</div>

-->
</div>
</div>
<h2 class="analysis-header">Game on Analysis</h2>
<div class="stats-container">
  
<div class="stats">
  <h2>English Premiership</h2>
  <p>
    The following teams have 100% record this season.
    <ul>
    <li>Tottenham</li>
    <li>Liverpool</li>
    <li>Arsenal</li> 
    </ul>
  </p>
</div>
<div class="stats">
  <h2>English Championship</h2>
  <p>The following teams have grabbed the maximum points in the first 2 games</p>
  <ol>
    <li>Arminia</li>
    <li>Darmstadt</li>
    <li>Hannover</li>
    <li>Braunschweig</li>
  </ol>
  <p>The Following teams have ganered 4 points in 2 matches</p>
  <ol>
    <li>Bochum</li>
    <li>Karlsruher</li>
    
  </ol>
  <p>While Following teams have ganered 3 points in 2 matches</p>
  <ol>
    <li>Elvesberg</li>
    <li>Padeborn</li>
    <li>Schalke</li>
    <li>Magdeburg</li>
    <li>Greuther Furth</li>
    <li>Kaiserslautern</li>
  </ol>
  <p>The Following teams have ganered 2 points in 2 matches</p>
  <ol>
    <li>Kaiserslautern</li>
    <li>Preußen Münster</li>
    
  </ol>
  <p>While Following teams have ganered 0 points in 2 matches</p>
  <ol>
    <li>Hertha</li>
    <li>Dusseldorf</li>
    <li>Dynamo</li>
    <li>Holstein Kiel</li>
    <li>Nurnberg</li>
  </ol>
  <p></p>
</div>
</div>

<div class="stats-container">
<div class="stats">
  <h2>English League One</h2>
  
</div>
<div class="stats">
  <h2>English League Two</h2>
  <p>The following teams have grabbed the maximum points in the first 2 games</p>
  <ol>
    <li>Arminia</li>
    <li>Darmstadt</li>
    <li>Hannover</li>
    <li>Braunschweig</li>
  </ol>
  <p>The Following teams have ganered 4 points in 2 matches</p>
  <ol>
    <li>Bochum</li>
    <li>Karlsruher</li>
    
  </ol>
  <p>While Following teams have ganered 3 points in 2 matches</p>
  <ol>
    <li>Elvesberg</li>
    <li>Padeborn</li>
    <li>Schalke</li>
    <li>Magdeburg</li>
    <li>Greuther Furth</li>
    <li>Kaiserslautern</li>
  </ol>
  <p>The Following teams have ganered 2 points in 2 matches</p>
  <ol>
    <li>Kaiserslautern</li>
    <li>Preußen Münster</li>
    
  </ol>
  <p>While Following teams have ganered 0 points in 2 matches</p>
  <ol>
    <li>Hertha</li>
    <li>Dusseldorf</li>
    <li>Dynamo</li>
    <li>Holstein Kiel</li>
    <li>Nurnberg</li>
  </ol>
  <p></p>
</div>
</div>












    {% endblock %}

    <div class="footer">


 
</body>