
{% extends "home/base.html" %}
{% load static %}
{% block title %}German Leagues{% endblock title %}


<div>
<!--
<div class="socials1">
<p>Follow us on <img src="{% static 'images/facebookicon.PNG' %}" alt ="facebook icon" height="45px" width="50px">
 <img src="{% static 'images/xicon.PNG' %}" alt ="X icon" height="50px" width="50px">
 </p>
 <p id="time"></p>

-->
</div>
<img src="{% static 'images/barclayslogo.JPEG' %}" alt ="Premiership logo" height="50px" width="50px">
{% block content %}
<div class="germanLeagues">

<h2>German Bundesliga Complete table for 2024/25 season</h2>
<div class="table-responsive">
<table id="germanBundesligaScoresTable">
<thead class="season-header">
<th>#</th>
<th>Teams</th>
<th>Matches Played</th>
<th>Matches Won</th>
<th>Matches Drawn</th>
<th>Matches Lost</th>
<th>Goals For</th>
<th>Goals Against</th>
<th>Goals Difference</th>
<th>Points</th>
</thead>
<tbody></tbody>

</table>
 <h2>My Chart</h2>

</div>


<h2>German Bundesliga 2 Complete table for 2024/25 season</h2>
<div class="table-responsive">
<table id="germanBundesliga2ScoresTable">
<thead class="season-header">
<th>#</th>
<th>Teams</th>
<th>Matches Played</th>
<th>Matches Won</th>
<th>Matches Drawn</th>
<th>Matches Lost</th>
<th>Goals For</th>
<th>Goals Against</th>
<th>Goals Difference</th>
<th>Points</th>
</thead>
<tbody></tbody>

</table>
 <h2>My Chart</h2>
<table>
 <tr><th>S/no</th><th>Team</th><th>Points</th><th>Power</th><th>Goals Difference</th></tr>
  {% for team in german_bundesliga_teams %}
  <tr><td>{{ forloop.counter}}</td><td>{{ team.name }}</td><td>{{ team.points }}</td><td>{{ team.power }}</td>
  <td>{{ team.goals_difference }}</td></tr>
  {% endfor %}
</table>

</table>
<h2>Championship</h2>
<table>
  <tr><th>S/no</th><th>Team</th><th>Points</th><th>Power</th><th>Goals Difference</th></tr>
  {% for team in german_bundesliga_2_teams %}
  <tr><td>{{ forloop.counter}}</td><td>{{ team.name }}</td><td>{{ team.points }}</td><td>{{ team.power }}</td>
 <td>{{ team.goals_difference }}</td> </tr>
  {% endfor %}
</table>
<!--</div>
</div>-->
<div class="row">
    <h2>Week 1 Bundesliga 2</h2>
<p>Schalke 2  - 1 Hertha</p>
  <p>Darmstadt 4 - 1 Bochum</p>
<p>Elvesberg 1 - 0 Nurnberg</p>
<p>Karlsruher 3 - 2 Preußen Münster</p>
</div>
<div class="row">
<p>Padeborn 2 - 1 Holstein Kiel</p>
<p>Arminia 5 - 1 Dusseldorf</p>
<p>Magdeburg 0 - 1 Braunschweig</p>
<p>Greuther Furth 3 - 2 Dynamo</p>
<p>Hannover 1 - 0 Kaiserslautern</p>
</div>
 
  <div class="stats-container">
<div class="stats">
  <h2>German Bundesliga 2</h2>
  
</div>
<div class="stats">
  <h2>German Bundesliga 2</h2>
  <p>The following teams have grabbed the maximum points in the first 2 games</p>
  <ol>
    <li>Arminia</li>
    <li>Darmstadt</li>
    <li>Hannover</li>
    <li>Braunschweig</li>
  </ol>
  <p>The Following teams have ganered 4 points in 2 matches</p>
  <ol>
    <li>Bochum</li>
    <li>Karlsruher</li>
    
  </ol>
  <p>While Following teams have ganered 3 points in 2 matches</p>
  <ol>
    <li>Elvesberg</li>
    <li>Padeborn</li>
    <li>Schalke</li>
    <li>Magdeburg</li>
    <li>Greuther Furth</li>
    <li>Kaiserslautern</li>
  </ol>
  <p>The Following teams have ganered 2 points in 2 matches</p>
  <ol>
    <li>Kaiserslautern</li>
    <li>Preußen Münster</li>
    
  </ol>
  <p>While Following teams have ganered 0 points in 2 matches</p>
  <ol>
    <li>Hertha</li>
    <li>Dusseldorf</li>
    <li>Dynamo</li>
    <li>Holstein Kiel</li>
    <li>Nurnberg</li>
  </ol>
  <p></p>
</div>
</div>













    {% endblock %}

    <div class="footer">


 
</body>