{% extends "home/base.html" %}
{% load static %}
{% block title %}Home | Punters-League{% endblock title %}

{% block content %}

   <div class="main-body">
<div class="web-logo">
<img rel="Icon" src="{% static 'images/web-logo.png' %}" alt="Website logo" width="200px" height="170px"><br>


</div>
<div class="social-icons">
    <a href="https://facebook.com/profile.php?id=61579007960417" target="_blank"><img src="{% static 'images/facebookicon.png' %}" alt="Facebook"></a>
    <a href="https://x.com/PuntersLeague1" target="_blank"><img src="{% static 'images/xicon.png' %}" alt="X"></a>
    <a href="https://www.youtube.com/channel/UClNp2eY92X1psjFR2cP-Rnw" target="_blank"><img src="{% static 'images/youtube-image.png' %}" alt="YouTube"></a>
    <p id="time"></p>
  </div>
<div class="main-item">
  
<div class="item">
  <div class="table-responsive">
  <h3>Predictions</h3>
  <table id="predictionsTable">
    <thead>
      <tr>
        <th>Home</th>
        <th>Away</th>
        <th>Home Power</th>
        <th>Away Power</th>
        <th>Prediction</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <a href="{% url 'england' %}">>>>>.....</a>

</div>
  </div>





  <div class="item">
  <span>We are taking a more broader view to target to largest and most realistic odds, yet there is no way we can be perfect though we can be dangerously close to be seen as accurate</span>
<p>In the 2024–25 Premier League season, there were 16 goalless (0‑0) draws out of 380 matches, representing approximately 4.21% of all games </p>
<p>For context, here's how that compares to the previous season (2023–24): there were 11 goalless draws in 380 matches (about 2.89%) .

</p>
<h2>Summary:</h2>
<p>
2024–25: 16 goalless draws (4.21%)
</p>
<p>
2023–24: 11 goalless draws (2.89%)
</p>
</div>
</div?

<div class="main-item">
<div class="item">
  <div class="table-responsive">
<h2>Spanish La Liga Predictions</h2>
<table id="predictionsTableSpain">
  <thead>
    <tr>
      <th>Home</th>
      <th>Away</th>
      <th>Home Power</th>
      <th>Away Power</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<a href="{% url 'spain' %}">>>>>.....</a>

</div>
</div>
<div class="item">
<p>The recently concluded 2024–25 La Liga season recorded 18 goalless draws (0–0) out of a total of 380 matches. </p></p>That means approximately 5.5% of all games ended in 0–0 stalemates—a not insignificant share when considering the competitiveness and attacking flair typical of La Liga this season.</p>
</div>


<div class="table-responsive">
<div class="main-item">
<div class="item">
  
<h2>English Championship Predictions</h2>
<table id="predictionsTableEnglishChampionship">
  <thead>
    <tr>
      <th>Home</th>
      <th>Away</th>
      <th>Home Power</th>
      <th>Away Power</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
 <a href="{% url 'england' %}">>>>>.....</a> 
 </div>

<div class="item">
  <div class="table-responsive">
<p>The Championship saw 557 matches in total, with 157 ending in draws. Historically, around 7.6% of Championship matches finish goalless—based on data from recent seasons</p>
<p>557 matches × 7.6% ≈ 42 matches ended 0‑0.So, approximately 42 goalless draws were recorded in the just-concluded season.</p>

While this is an estimate (due to lack of an official count), it aligns well with historical averages in the Championship.</p>

</div>
</div>
<div class="table-responsive">
<div class="main-item">
 <div class="item"> 
  
  <h2>English League One Predictions</h2>
<table id="predictionsTableEnglishLeagueOne">
  <thead>
    <tr>
      <th>Home</th>
      <th>Away</th>
      <th>Home Power</th>
      <th>Away Power</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<a href="{% url 'england' %}">>>>>.....</a>
</div>


<div class="item">
  <div class="scores">
    <div class="row">
    <h2>Latest Scores</h2>
<p>Cardiff 2 - 1 Peterborough</p>
<p>Blackpool 2 - 3 Stevenage</p>
<p>Bradford 2 - 1 Wycombe</p>
<p>Burton 2 - 1 Mansfield</p>
<p>Doncaster 1 - 0 Exeter</p>
    </div>
    <div class="row">
<p>Huddersfield 3 - 0 Leyton Orient</p>
<p>Lincoln 2 - 0 Reading</p>
<p>Plymouth 1 - 3 Barnsley</p>
<p>Rotherham 2 - 1 Port Vale</p>
<p>Wigan 3 - 1 Northampton</p>
<p>Stockport 2 - 0 Bolton</p>
    </div>
  </div>
  

</p>
</div>
</div>
</div>
</div>

<div class="table-responsive">
<div class="main-item">
  <div class="item"> 
  
 
  <h2>German Bundesliga Predictions</h2>
<table id="predictionsTableGermany">
  <thead>
    <tr>
      <th>Home</th>
      <th>Away</th>
      <th>Home Power</th>
      <th>Away Power</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<a href="{% url 'germany' %}">>>>>.....</a>
</div>

<div class="item">
  
<p>The 2024‑25 English League One season featured 16 goalless draws (0–0) across a total of 552 matches, accounting for 8.21% of all games</p><p>That percentage also aligns with the overall draw statistics—League One had 267 matches where both teams failed to score (No Goal) out of 552, which is about 48.4% of all matches being drawn overall (including 0–0 and higher-scoring ties) .So to recap:

🟰 16 matches ended 0–0

🟰 These made up 8.2% of all League One games
</p>

</div>
</div>
</div>
</div>

 <div class="table-responsive">
<div class="main-item">
 
<div class="item">
 <h2>English League Two Predictions</h2>
<table id="predictionsTableEnglishLeagueTwo">
  <thead>
    <tr>
      <th>Home</th>
      <th>Away</th>
      <th>Home Power</th>
      <th>Away Power</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<a href="{% url 'england' %}">>>>>.....</a>
</div>
<div class="item">
<div class="scores">
  <div class="row">
    <h2>Latest Scores</h2>
<p>Accrington Stanley 1 - 1 Gillingham</p>
<p>Barnet 0 - 2 Fleetwood</p>
<p>Bristol Rovers 0 - 1 Harrogate</p>
<p>Cambridge 1 - 0 Cheltenham</p>
<p>Chesterfield 1 - 0 Barrow</p>
<p>Colchester 1 - 1 Tranmere</p>
  </div>
  <div class="row">
<p>Grimsby 3 - 0 Crawley</p>
<p>MK Dons 0 - 0 Oldham</p>
<p>Salford 1 - 3 Crewe </p>
<p>Shrewsbury 0 - 0 Bromley</p>
<p>walsall 2- 1 Swindon </p>
<p>Newport 1 - 1 Notts County</p>
  </div>
  </div>

</div>

  <div class="table-responsive">
<div class="main-item">
 <div class="item"> 
  <h2>German Bundesliga 2 Predictions</h2>
<table id="predictionsTableGermany2">
  <thead>
    <tr>
      <th>Home</th>
      <th>Away</th>
      <th>Home Power</th>
      <th>Away Power</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<a href="{% url 'germany' %}">>>>>.....</a>
</div>
<div class="item">
  
<div class="scores">
  <div class="row">
    <h2>Latest Scores</h2>
<p>Darmstadt 4 - 1 Bochum</p>
<p>Elvesberg 1 - 0 Nurnberg</p>
<p>Karlsruher 3 - 2 Preußen Münster</p>
<p>Padeborn 2 - 1 Holstein Kiel</p>
  </div>
  <div class="row">
<p>Arminia 5 - 1 Dusseldorf</p>
<p>Greuther Furth 3 - 2 Dynamo</p>
<p>Hannover 1 - 0 Kaiserslautern</p>
<p>Magdeburg 0 - 1 Braunchweig</p>

  </div>
  </div>

</div>


 <div class="table-responsive">
  <div class="main-item">
<div class="item">
 
<h2>Spanish LaLiga Two Predictions</h2>
<table id="predictionsTableSpain2">
  <thead>
    <tr>
      <th>Home</th>
      <th>Away</th>
      <th>Home Power</th>
      <th>Away Power</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<a href="{% url 'spain' %}">>>>>.....</a>
</div>

<div class="item">
<p>League Two played 552 matches in total. There were 158 draws overall, which is about 29% of matches</p><p>If we assume a similar proportion of goalless draws as seen at the Championship level (roughly 7–8% of matches), then we'd estimate around 40–45 goalless draws.</p>

<p>👉 However, that’s just an estimate based on broader trends—not an exact tally.</p>
</div>
</div>

<div class="table-responsive">
  <div class="main-item">
<div class="item">
  
<h2>Italian Serie A Predictions</h2>
<table id="predictionsTableItaly">
  <thead>
    <tr>
      <th>Home</th>
      <th>Away</th>
      <th>Home Power</th>
      <th>Away Power</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<a href="{% url 'italy' %}">>>>>.....</a>
</div>

<div class="item">
<p>League Two played 552 matches in total. There were 158 draws overall, which is about 29% of matches</p><p>If we assume a similar proportion of goalless draws as seen at the Championship level (roughly 7–8% of matches), then we'd estimate around 40–45 goalless draws.</p>

<p>👉 However, that’s just an estimate based on broader trends—not an exact tally.</p>
</div>
</div>

<div class="table-responsive">
   <div class="main-item">
<div class="item">
  
<h2>French Ligue One Predictions</h2>
<table id="predictionsTableFrench1">
  <thead>
    <tr>
      <th>Home</th>
      <th>Away</th>
      <th>Home Power</th>
      <th>Away Power</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<a href="{% url 'france' %}">>>>>.....</a>
</div>
<div class="item">
<p>League Two played 552 matches in total. There were 158 draws overall, which is about 29% of matches</p><p>If we assume a similar proportion of goalless draws as seen at the Championship level (roughly 7–8% of matches), then we'd estimate around 40–45 goalless draws.</p>

<p>👉 However, that’s just an estimate based on broader trends—not an exact tally.</p>
</div>
</div>

 <div class="table-responsive">
   <div class="main-item">
<div class="item">
 
<h2>French Ligue Two Predictions</h2>
<table id="predictionsTableFrench2">
  <thead>
    <tr>
      <th>Home</th>
      <th>Away</th>
      <th>Home Power</th>
      <th>Away Power</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<a href="{% url 'france' %}">>>>>.....</a>

</div>
  
<div class="item">
<p>League Two played 552 matches in total. There were 158 draws overall, which is about 29% of matches</p><p>If we assume a similar proportion of goalless draws as seen at the Championship level (roughly 7–8% of matches), then we'd estimate around 40–45 goalless draws.</p>

<p>👉 However, that’s just an estimate based on broader trends—not an exact tally.</p>
</div>
</div>
     <div class="table-responsive">
       <div class="main-item">
<div class="item">
 
<h2>Italian Seie B Predictions</h2>
<table id="predictionsTableItalyB">
  <thead>
    <tr>
      <th>Home</th>
      <th>Away</th>
      <th>Home Power</th>
      <th>Away Power</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<a href="{% url 'italy' %}">>>>>.....</a>

</div>
<div class="item">
<p>League Two played 552 matches in total. There were 158 draws overall, which is about 29% of matches</p><p>If we assume a similar proportion of goalless draws as seen at the Championship level (roughly 7–8% of matches), then we'd estimate around 40–45 goalless draws.</p>

<p>👉 However, that’s just an estimate based on broader trends—not an exact tally.</p>
</div>
</div>


<div class="table-responsive">
       <div class="main-item">
<div class="item">
 
<h2>Netherlands Eredevesie Predictions</h2>
<table id="predictionsTableNetherlands">
  <thead>
    <tr>
      <th>Home</th>
      <th>Away</th>
      <th>Home Power</th>
      <th>Away Power</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<a href="{% url 'netherland' %}">>>>>.....</a>

</div>
<div class="item">
<p>League Two played 552 matches in total. There were 158 draws overall, which is about 29% of matches</p><p>If we assume a similar proportion of goalless draws as seen at the Championship level (roughly 7–8% of matches), then we'd estimate around 40–45 goalless draws.</p>

<p>👉 However, that’s just an estimate based on broader trends—not an exact tally.</p>
</div>
</div>

    </div>

    



<div class="table-responsive">
       <div class="main-item">
<div class="item">
 
<h2>Netherlands Eersteedevesie Predictions</h2>
<table id="predictionsTableNetherlands2">
  <thead>
    <tr>

      <th>Home</th>
      <th>Away</th>
      <th>Home Power</th>
      <th>Away Power</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<a href="{% url 'netherland' %}">>>>>.....</a>

</div>
<div class="item">
<p>League Two played 552 matches in total. There were 158 draws overall, which is about 29% of matches</p><p>If we assume a similar proportion of goalless draws as seen at the Championship level (roughly 7–8% of matches), then we'd estimate around 40–45 goalless draws.</p>

<p>👉 However, that’s just an estimate based on broader trends—not an exact tally.</p>
</div>
</div>
    </div>
<!--
<div class="table-responsive">
	<div class="second">
<h2>Latest Results</h2>
<p>Latest Football Results from our selected leagues</p>
<div class="second-table">
<table id="predictionsTable">
<thead>
<tr>
<th>Home</th>
<th>Power</th>
<th>Score</th>
<th>Away</th>
<th>Power</th>
<th>Score</th>
</tr>
</thead>
<tbody></tbody>


</table>
</div>
</div>
  -->

  <div class="bttsHeader">
<h2>Both teams to score and Over 2.5 logic</h2>
  </div>
<div class="tables-wrapper">

  <div class="btts-table">
    <table id="eplBtts">
      <caption>English Premiership</caption>
      <thead>
        <tr>
          <th>Home</th><th>Away</th><th>HomeToScore</th><th>AwayToScore</th>
          <th>BothTeamsToScore</th><th>Over 2.5 Possibility</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

</div>
<div class="tables-wrapper">

  <div class="btts-table">
    <table id="eflBTTS">
      <caption>English Championship</caption>
      <thead>
        <tr>
          <th>Home</th><th>Away</th><th>HomeToScore</th><th>AwayToScore</th>
          <th>BothTeamsToScore</th><th>Over 2.5 Possibility</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <div class="btts-table">
    <table id="leagueOneBTTS">
      <caption>English League One</caption>
      <thead>
        <tr>
          <th>Home</th><th>Away</th><th>HomeToScore</th><th>AwayToScore</th>
          <th>BothTeamsToScore</th><th>Over 2.5 Possibility</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <div class="btts-table">
    <table id="leagueTwoBTTS">
      <caption>English League Two</caption>
      <thead>
        <tr>
          <th>Home</th><th>Away</th><th>HomeToScore</th><th>AwayToScore</th>
          <th>BothTeamsToScore</th><th>Over 2.5 Possibility</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <div class="btts-table">
    <table id="laLiga2BTTS">
      <caption>Spanish La Liga 2</caption>
      <thead>
        <tr>
          <th>Home</th><th>Away</th><th>HomeToScore</th><th>AwayToScore</th>
          <th>BothTeamsToScore</th><th>Over 2.5 Possibility</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <div class="btts-table">
    <table id="serieABTTS">
      <caption>Italian Serie A</caption>
      <thead>
        <tr>
          <th>Home</th><th>Away</th><th>HomeToScore</th><th>AwayToScore</th>
          <th>BothTeamsToScore</th><th>Over 2.5 Possibility</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <div class="btts-table">
    <table id="frenchLigueOneBTTS">
      <caption>French Ligue One</caption>
      <thead>
        <tr>
          <th>Home</th><th>Away</th><th>HomeToScore</th><th>AwayToScore</th>
          <th>BothTeamsToScore</th><th>Over 2.5 Possibility</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <div class="btts-table">
    <table id="frenchLeague2BTTS">
      <caption>French Ligue 2</caption>
      <thead>
        <tr>
          <th>Home</th><th>Away</th><th>HomeToScore</th><th>AwayToScore</th>
          <th>BothTeamsToScore</th><th>Over 2.5 Possibility</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <div class="btts-table">
    <table id="germanBundesligaBTTS">
      <caption>German Bundesliga</caption>
      <thead>
        <tr>
          <th>Home</th><th>Away</th><th>HomeToScore</th><th>AwayToScore</th>
          <th>BothTeamsToScore</th><th>Over 2.5 Possibility</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <div class="btts-table">
    <table id="germanBundesliga2BTTS">
      <caption>German Bundesliga 2</caption>
      <thead>
        <tr>
          <th>Home</th><th>Away</th><th>HomeToScore</th><th>AwayToScore</th>
          <th>BothTeamsToScore</th><th>Over 2.5 Possibility</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div class="btts-table">
    <table id="italianSerieBBTTS">
      <caption>Italian Serie B</caption>
      <thead>
        <tr>
          <th>Home</th><th>Away</th><th>HomeToScore</th><th>AwayToScore</th>
          <th>BothTeamsToScore</th><th>Over 2.5 Possibility</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

<div class="btts-table">
    <table id="netherlandsEredevesieBTTS">
      <caption>Netherlands Eredevesie</caption>
      <thead>
        <tr>
          <th>Home</th><th>Away</th><th>HomeToScore</th><th>AwayToScore</th>
          <th>BothTeamsToScore</th><th>Over 2.5 Possibility</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>



<div class="btts-table">
    <table id="netherlandsErsteedevesieBTTS">
      <caption>Netherlands Eerste Divisie</caption>
      <thead>
        <tr>
          <th>Home</th><th>Away</th><th>HomeToScore</th><th>AwayToScore</th>
          <th>BothTeamsToScore</th><th>Over 2.5 Possibility</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

</div>
{% endblock %}

</html>