
{% extends "home/base.html" %}
{% load static %}
{% block title %}Netherlands Leagues{% endblock title %}


<div>
<!--
<div class="socials1">
<p>Follow us on <img src="{% static 'images/facebookicon.PNG' %}" alt ="facebook icon" height="45px" width="50px">
 <img src="{% static 'images/xicon.PNG' %}" alt ="X icon" height="50px" width="50px">
 </p>
 <p id="time"></p>

-->
</div>
<img src="{% static 'images/barclayslogo.JPEG' %}" alt ="Premiership logo" height="50px" width="50px">
{% block content %}

<p>This page is for the analysis of the Netherlands  Leagues</p>
<h2>Netherlands Eredevesie Complete table for 2024/25 season</h2>
<div class="table-responsive">
<table id="netherlandsEredevesieScoresTable">
<thead class="season-header">
<th>#</th>
<th>Teams</th>
<th>Matches Played</th>
<th>Matches Won</th>
<th>Matches Drawn</th>
<th>Matches Lost</th>
<th>Goals For</th>
<th>Goals Against</th>
<th>Goals Difference</th>
<th>Points</th>
</thead>
<tbody></tbody>

</table>

<p>This page is for the analysis of the Netherlands  Leagues</p>
<h2>Netherlands Eredevesie Complete table for 2024/25 season</h2>
<div class="table-responsive">
<table id="netherlandsEersteeDevesieScoresTable">
<thead class="season-header">
<th>#</th>
<th>Teams</th>
<th>Matches Played</th>
<th>Matches Won</th>
<th>Matches Drawn</th>
<th>Matches Lost</th>
<th>Goals For</th>
<th>Goals Against</th>
<th>Goals Difference</th>
<th>Points</th>
</thead>
<tbody></tbody>

</table>
 <table>
  <tr><th>S/no</th><th>Team</th><th>Points</th><th>Power</th><th>Goals Difference</th></tr>
  {% for team in nertherlands_eredevesie_teams %}
  <tr><td>{{ forloop.counter}}</td><td>{{ team.name }}</td><td>{{ team.points }}</td><td>{{ team.power }}</td>
  <td>{{ team.goals_difference }}</td></tr>
  {% endfor %}
</table>

<table>
  <tr><th>S/no</th><th>Team</th><th>Points</th><th>Power</th><th>Goals Difference</th></tr>
  {% for team in netherlands_eersteedevesie_teams %}
  <tr><td>{{ forloop.counter}}</td><td>{{ team.name }}</td><td>{{ team.points }}</td><td>{{ team.power }}</td>
  <td>{{ team.goals_difference }}</td></tr>
  {% endfor %}
</table>
<div class="row">
    <h2>Ere Divisie Week 1 Scores</h2>
<p>Fortuna Sittard 2 - 2 Go Ahead Eagles</p>

<p>NEC 5 - 0 Excelsior</p>
<p>Feyenoord 2 - 0 NAC</p>
<p>Heerenveen 1 - 1 Volendam</p>
  </div>
  <div class="row">
<p>PSV 5 - 0 Twente</p>
<p>AZ Alkmaar 4 - 1 Groningen</p>
<p>Ajax 2 - 0 Telstar</p>
<p>Utrecht 4 - 0 Heracles</p>
  
</div>
<div class="row">
    <h2>Erste Divisie Week 1</h2>
<p>Fortuna Sittard 2 - 2 Go Ahead Eagles</p>

<p>De Graafschap 3 - 2 Venlo</p>
<p>Den Bosch 2 - 0 Jong Ajax</p>
<p>Dordrecht 1 - 0 Cambuur</p>
  </div>
  <div class="row">
<p>Einhoven 1 - 0 Jong Utrecht</p>
<p>TOP Oss 4- 0 Maasrticht</p>
<p>Helmond 1- 3 Roda</p>
<p>Den Haag 5- 1 Wilhelm II</p>
<div class="row">
<p>Jong AZ 2 - 3 RKC Waalwijk</p>
<p>Jong PSV 3 - 1 Emmen</p>
</div>
</div>
</div>















    {% endblock %}

    <div class="footer">


 
</body>