.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    padding: 20px;
}

.chart-item {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  background: #fff;
  padding-left: 10px;
}

.dropdown-menu.show {
  display: flex;
}