{% extends "home/base.html" %}
{% load static %}

{% block title %}{{ post.title }} | Punters-League{% endblock title %}

{% block content %}
<div class="main-body">

    <div class="web-logo">
        <img rel="Icon" src="{% static 'images/web-logo.png' %}" alt="Website logo" width="200px" height="170px"><br>
    </div>

    <div class="social-icons">
        <a href="https://facebook.com/profile.php?id=61579007960417" target="_blank">
            <img src="{% static 'images/facebookicon.png' %}" alt="Facebook">
        </a>
        <a href="https://x.com/PuntersLeague1" target="_blank">
            <img src="{% static 'images/xicon.png' %}" alt="X">
        </a>
        <a href="https://www.youtube.com/channel/UClNp2eY92X1psjFR2cP-Rnw" target="_blank">
            <img src="{% static 'images/youtube-image.png' %}" alt="YouTube">
        </a>
        <p id="time"></p>
    </div>

    <div class="main-item">
        <!--
       <h1>{{ post.title }}</h1>
<p><strong>Category:</strong> {{ post.get_category_display }}</p>
<p><strong>By:</strong> {{ post.author.username }} | {{ post.date|date:"M d, Y" }}</p>

{% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width:600px;">
{% endif %}

<p>{{ post.body|linebreaks }}</p>

<a href="{% url 'posts:posts_list' %}">← Back to posts</a>
    -->
<h1>{{ post.title }}</h1>
<p><em>Published on {{ post.date }}</em></p>
<div>
    {{ post.content|safe }}
</div>
    </div>

</div>
{% endblock %}
