{% extends "home/base.html" %}
{% load static %}

{% block title %}Blog | Punters-League{% endblock title %}

{% block content %}

 <div class="main-body">
<div class="web-logo">
<img rel="Icon" src="{% static 'images/web-logo.png' %}" alt="Website logo" width="200px" height="170px"><br>


</div>
<div class="social-icons">
    <a href="https://facebook.com/profile.php?id=61579007960417" target="_blank"><img src="{% static 'images/facebookicon.png' %}" alt="Facebook"></a>
    <a href="https://x.com/PuntersLeague1" target="_blank"><img src="{% static 'images/xicon.png' %}" alt="X"></a>
    <a href="https://www.youtube.com/channel/UClNp2eY92X1psjFR2cP-Rnw" target="_blank"><img src="{% static 'images/youtube-image.png' %}" alt="YouTube"></a>
    <p id="time"></p>
  </div><img rel="Icon" src="{% static 'images/haland.jpeg' %}" alt="Haland" width="200px" height="170px"><br>
  <p>Making use of the resource we have in this website will enable you start making 
    better betting decisions.
  </p>
  <p>These predictions are based on recent form and overall team strength. A value above 60
     indicates strong attacking or defensive performance, while lower values suggest vulnerability.
      The prediction column shows our expected outcome: 1 (Home Win), 2 (Away Win), or X (Draw).
       Keep checking daily for updated predictions based on new stats and performance trends</p>
  </div>
<div class="main-body">
    
  <h1>  All Topics </h1>
<ul>
    {% for post in posts %}
        <li>
            
            <a href="{% url 'posts:post_detail' slug=post.slug %}">
    {{post.title}}
</a>



        <small>({{ post.date|date:"M d, Y" }})</small>
        </li>
    {% empty %}
        <li>No posts available.</li>
    {% endfor %}
</ul>

</div>
<!--
{% for post in posts %}
    <h2><a href="{% url 'posts:post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
    <p>{{ post.date }}</p>
    <p>{{ post.content|truncatewords:30 }}</p>
{% empty %}
    <p>No posts available.</p>
{% endfor %}
-->
{% endblock %}