{% extends "home/base.html" %}
{% load static %}

{% block title %}Blog | Punters-League{% endblock title %}

{% block content %}
<div class="main-body">
    
  <h1>  All Topics </h1>
<ul>
    {% for post in posts %}
        <li>
            
            <a href="{% url 'posts:post_detail' slug=post.slug %}">
    {{post.title}}
</a>



        <small>({{ post.date|date:"M d, Y" }})</small>
        </li>
    {% empty %}
        <li>No posts available.</li>
    {% endfor %}
</ul>

</div>
<!--
{% for post in posts %}
    <h2><a href="{% url 'posts:post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
    <p>{{ post.date }}</p>
    <p>{{ post.content|truncatewords:30 }}</p>
{% empty %}
    <p>No posts available.</p>
{% endfor %}
-->
{% endblock %}